Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

check-image-tags:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Ensure unique tags per image
  entry: python3
  args:
  - bin/show-docker-images.py
  - --private-registry
  - --with-houston
  - -c
  pass_filenames: false

circle-config-yaml:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Checks for consistency between config.yml and config.yml.j2
  entry: bin/generate_circleci_config.py
  pass_filenames: false

Add houston readOnlyRootFilesystem tests, fix templates.
  charts/astronomer/templates/houston/api/houston-deployment.yaml
  charts/astronomer/templates/houston/cronjobs/houston-check-runtime-updates.yaml
  charts/astronomer/templates/houston/cronjobs/houston-check-updates-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-airflow-db-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-cluster-audits-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deploy-revisions-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deployments-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-task-data-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-populate-daily-task-metrics.yaml
  charts/astronomer/templates/houston/cronjobs/houston-populate-hourly-ta-metrics.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-au-strategy-job.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-db-migration-job.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-upgrade-deployments-job.yaml
  charts/astronomer/templates/houston/worker/houston-worker-deployment.yaml
  tests/chart_tests/test_read_only_root_filesystem.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add some volumes
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deploy-revisions-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deployments-cronjob.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-db-migration-job.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Better docstrings. Use newest_supported_kube_version
  tests/chart_tests/test_tags.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Tweak some mounts. Refactor tests.
  charts/astronomer/templates/houston/api/houston-deployment.yaml
  charts/astronomer/templates/houston/cronjobs/houston-check-runtime-updates.yaml
  charts/astronomer/templates/houston/cronjobs/houston-check-updates-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-airflow-db-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-cluster-audits-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deploy-revisions-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deployments-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-task-data-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-populate-daily-task-metrics.yaml
  charts/astronomer/templates/houston/cronjobs/houston-populate-hourly-ta-metrics.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-au-strategy-job.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-db-migration-job.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-upgrade-deployments-job.yaml
  charts/astronomer/templates/houston/worker/houston-worker-deployment.yaml
  tests/chart_tests/test_read_only_root_filesystem.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Better file header
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deployments-cronjob.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Update tests/chart_tests/test_vector.py
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Update values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

test fix
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add esproxy template
  charts/vector/templates/_helpers.tpl
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add esproxy full name
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

use esproxy in houston cm
  charts/astronomer/templates/houston/houston-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

temp fix
  charts/vector/templates/_helpers.tpl
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add v8 api for vector
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add priorityClassName
  charts/vector/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add vector_common_tests
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

test fixes
  tests/chart_tests/test_astronomer_namespace_pools.py
  tests/chart_tests/test_byo_sa.py
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add vector probes
  tests/chart_tests/test_data/enable_all_probes.yaml
Due: none

add vector netowrk policy
  tests/chart_tests/test_global_network_policy_flag.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

test fix
  tests/chart_tests/test_byo_sa.py
  tests/chart_tests/test_global_network_policy_flag.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix commander default env vars
  charts/astronomer/templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add test
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix pre-commit
  charts/astronomer/templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

doc
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

update tests
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix commander default env vars (#2812)
  charts/astronomer/templates/_helpers.yaml
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

misc fix
  charts/astronomer/templates/_helpers.yaml
  charts/astronomer/templates/houston/houston-configmap.yaml
  charts/vector/templates/_helpers.tpl
  charts/vector/templates/vector-configmap.yaml
  tests/chart_tests/test_houston_configmap.py
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add fix
  templates/_helpers.tpl
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

test and conf fix
  charts/vector/templates/_helpers.tpl
  tests/chart_tests/test_data/default-external-es-nginx.conf
  tests/chart_tests/test_data/external-es-nginx-with-aws-secrets.conf
  tests/chart_tests/test_elasticsearch.py
  tests/chart_tests/test_external_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

pre-commit
  charts/vector/values.yaml
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add byo es (#2811)
  charts/astronomer/templates/houston/houston-configmap.yaml
  charts/vector/templates/_helpers.tpl
  charts/vector/templates/vector-configmap.yaml
  charts/vector/values.yaml
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  check-image-tags: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
