Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

.pre-commit-config.yaml:

---
exclude: '(venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)' # regex
repos:
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: check-image-tags
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Ensure unique tags per image
        entry: python3
        args: ["bin/show-docker-images.py", "--private-registry", "--with-houston", "-c"]
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
      - id: refuse-authsidecar-files
        language: python
        name: Refuse files that include authsidecar
        entry: bin/refuse-filename-strings.py
      - id: circle-config-yaml
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Checks for consistency between config.yml and config.yml.j2
        entry: bin/generate_circleci_config.py
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-L", "AKS,aks,showIn,NotIn"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.2"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: 'charts|templates\/.*\.yaml'
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.(git|helm)ignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "^tests/utils/.*$"
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
        exclude: 'tests/kind/.*'
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces

Add deployments.{base} to cp
  bin/setup-cp-dp-k3d.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Add k8s schema files
  tests/k8s_schema/v1.33.0-standalone/endpoints-v1.json
  tests/k8s_schema/v1.34.0-standalone/endpoints-v1.json
  tests/k8s_schema/v1.35.0-standalone/clusterrole-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/clusterrolebinding-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.35.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.35.0-standalone/daemonset-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/endpoints-v1.json
  tests/k8s_schema/v1.35.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.35.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.35.0-standalone/mutatingwebhookconfiguration-admissionregistration-v1.json
  tests/k8s_schema/v1.35.0-standalone/namespace-v1.json
  tests/k8s_schema/v1.35.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.35.0-standalone/poddisruptionbudget-policy-v1.json
  tests/k8s_schema/v1.35.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/secret-v1.json
  tests/k8s_schema/v1.35.0-standalone/service-v1.json
  tests/k8s_schema/v1.35.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.35.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.35.0-standalone/validatingwebhookconfiguration-admissionregistration-v1.json
Due: none

Add missing openshift schema file
  tests/k8s_schema/v1.35.0-standalone/securitycontextconstraints-security-v1.json
Due: none

Remove reference to 1.30.0
  tests/chart_tests/test_tags.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Add pod/etcd-, sort list.
  tests/functional/unified/test_network_security.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Add k8s 1.35. Bump other versions.
  .circleci/config.yml
  bin/generate_circleci_config.py
  metadata.yaml
  pyproject.toml
  tests/k8s_schema/v1.35.0-standalone/clusterrole-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/clusterrolebinding-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.35.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.35.0-standalone/daemonset-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.35.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.35.0-standalone/mutatingwebhookconfiguration-admissionregistration-v1.json
  tests/k8s_schema/v1.35.0-standalone/namespace-v1.json
  tests/k8s_schema/v1.35.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.35.0-standalone/poddisruptionbudget-policy-v1.json
  tests/k8s_schema/v1.35.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/secret-v1.json
  tests/k8s_schema/v1.35.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.35.0-standalone/service-v1.json
  tests/k8s_schema/v1.35.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.35.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.35.0-standalone/validatingwebhookconfiguration-admissionregistration-v1.json
  tests/kind/calico-crds-v1.35.yaml
  tests/requirements.txt
  uv.lock
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Fix url
  bin/generate_circleci_config.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update requirements
  tests/requirements.txt
  uv.lock
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Delete unused requirements.in file
  tests/requirements.in
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

PINF-176 - support k8s 1.35 (#3053)
  .circleci/config.yml
  bin/generate_circleci_config.py
  metadata.yaml
  pyproject.toml
  tests/functional/unified/test_network_security.py
  tests/k8s_schema/v1.35.0-standalone/clusterrole-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/clusterrolebinding-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.35.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.35.0-standalone/daemonset-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.35.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.35.0-standalone/mutatingwebhookconfiguration-admissionregistration-v1.json
  tests/k8s_schema/v1.35.0-standalone/namespace-v1.json
  tests/k8s_schema/v1.35.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.35.0-standalone/poddisruptionbudget-policy-v1.json
  tests/k8s_schema/v1.35.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/secret-v1.json
  tests/k8s_schema/v1.35.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.35.0-standalone/service-v1.json
  tests/k8s_schema/v1.35.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.35.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.35.0-standalone/validatingwebhookconfiguration-admissionregistration-v1.json
  tests/kind/calico-crds-v1.35.yaml
  tests/requirements.in
  tests/requirements.txt
  uv.lock
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Do local setup cp/dp
  bin/setup-cp-dp-k3d.py
  charts/nginx/templates/controlplane/nginx-cp-deployment.yaml
  charts/nginx/templates/dataplane/nginx-dp-deployment.yaml
  docs/cp-dp-k3d-setup-guide.md
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Fix etc/hosts
  bin/setup-cp-dp-k3d.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Fix reconcile
  bin/setup-cp-dp-k3d.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Add dns
  bin/reconcile-k3d-orbstack-network.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Fix etc/host entry
  bin/setup-cp-dp-k3d.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add log wrapper configmap
  charts/astronomer/templates/houston/api/houston-log-wrapper-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add vector sidecar configmap
  charts/astronomer/templates/houston/api/houston-vector-configmap.yaml
  charts/astronomer/templates/houston/worker/houston-worker-vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add vector sidecar in houston and houston-worker
  charts/astronomer/templates/houston/api/houston-deployment.yaml
  charts/astronomer/templates/houston/worker/houston-worker-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add loggingSideCar config for houston
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add loggingSideCar configs for gcp logging sink
  charts/astronomer/templates/houston/api/houston-deployment.yaml
  charts/astronomer/templates/houston/api/houston-vector-configmap.yaml
  charts/astronomer/templates/houston/worker/houston-worker-deployment.yaml
  charts/astronomer/templates/houston/worker/houston-worker-vector-configmap.yaml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Remove registry and events from houston ingress
  charts/astronomer/templates/houston/ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix test
  tests/chart_tests/test_houston_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

removed unit test stages from stage cluster build
  .circleci/config.yml.j2
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

run generate ci config
  .circleci/config.yml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Parametrize test_commander_deployment_default
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

kuiper-reloader 0.1.17 with k8s 1.35 support
  .circleci/config.yml
  charts/prometheus/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

PINF-176 kuiper-reloader 0.1.17 with k8s 1.35 support (#3086)
  .circleci/config.yml
  charts/prometheus/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add correct path
  charts/astronomer/templates/commander/commander-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add new volume and volume mounts
  charts/astronomer/templates/commander/commander-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add test
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

precommit
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add nginx-write-dir
  charts/astronomer/templates/commander/commander-deployment.yaml
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update airflow
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Dev updates 2025-10-15 (#2931)
  .pre-commit-config.yaml
  Makefile
  bin/get-recent-kind-versions.py
  bin/release-bom
  bin/setup-circleci-shell-env.sh
  pyproject.toml
  tests/requirements.txt
  uv.lock
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

PINF-176 - support k8s 1.35 (#3053)
  .circleci/config.yml
  bin/generate_circleci_config.py
  bin/kind/calico-crds-v1.35.yaml
  metadata.yaml
  pyproject.toml
  tests/k8s_schema/v1.35.0-standalone/clusterrole-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/clusterrolebinding-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/configmap-v1.json
  tests/k8s_schema/v1.35.0-standalone/cronjob-batch-v1.json
  tests/k8s_schema/v1.35.0-standalone/daemonset-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/deployment-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/endpoints-v1.json
  tests/k8s_schema/v1.35.0-standalone/ingress-networking-v1.json
  tests/k8s_schema/v1.35.0-standalone/job-batch-v1.json
  tests/k8s_schema/v1.35.0-standalone/mutatingwebhookconfiguration-admissionregistration-v1.json
  tests/k8s_schema/v1.35.0-standalone/namespace-v1.json
  tests/k8s_schema/v1.35.0-standalone/networkpolicy-networking-v1.json
  tests/k8s_schema/v1.35.0-standalone/poddisruptionbudget-policy-v1.json
  tests/k8s_schema/v1.35.0-standalone/role-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/rolebinding-rbac-v1.json
  tests/k8s_schema/v1.35.0-standalone/secret-v1.json
  tests/k8s_schema/v1.35.0-standalone/securitycontextconstraints-security-v1.json
  tests/k8s_schema/v1.35.0-standalone/service-v1.json
  tests/k8s_schema/v1.35.0-standalone/serviceaccount-v1.json
  tests/k8s_schema/v1.35.0-standalone/statefulset-apps-v1.json
  tests/k8s_schema/v1.35.0-standalone/storageclass-storage-v1.json
  tests/k8s_schema/v1.35.0-standalone/validatingwebhookconfiguration-admissionregistration-v1.json
  tests/requirements.txt
  uv.lock
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

added support for ingressClassName
  Makefile
  charts/astronomer/templates/ingress.yaml
  tests/chart_tests/test_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

commander update
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Update Airflow 1.17.21 (#3089)
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml
