Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

check-image-tags:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Ensure unique tags per image
  entry: python3
  args:
  - bin/show-docker-images.py
  - --private-registry
  - --with-houston
  - -c
  pass_filenames: false

circle-config-yaml:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Checks for consistency between config.yml and config.yml.j2
  entry: bin/generate_circleci_config.py
  pass_filenames: false

fix pre-commit
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add prometheus hostAlias test cases
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix testcases
  tests/chart_tests/test_astronomer_commander.py
  tests/chart_tests/test_houston_api_deployment.py
  tests/chart_tests/test_registry_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add platform hostAlias support (#2997)
  charts/astronomer/templates/_helpers.yaml
  charts/astronomer/templates/commander/commander-deployment.yaml
  charts/astronomer/templates/commander/jwks-hooks/commander-jwks-hooks.yaml
  charts/astronomer/templates/houston/api/houston-deployment.yaml
  charts/astronomer/templates/houston/worker/houston-worker-deployment.yaml
  charts/astronomer/templates/registry/registry-statefulset.yaml
  charts/astronomer/values.yaml
  charts/prometheus/templates/_helpers.yaml
  charts/prometheus/templates/prometheus-statefulset.yaml
  tests/chart_tests/test_astronomer_commander.py
  tests/chart_tests/test_houston_api_deployment.py
  tests/chart_tests/test_prometheus_statefulset.py
  tests/chart_tests/test_registry_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update vendor packages
  .circleci/config.yml
  charts/prometheus-postgres-exporter/values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update vendor images
  charts/nats/values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update scan images
  .circleci/config.yml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update vendor packages (#3012)
  .circleci/config.yml
  charts/nats/values.yaml
  charts/prometheus-postgres-exporter/values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update db-bootstrapper version 1.0.3
  .circleci/config.yml
  charts/astronomer/values.yaml
  charts/grafana/values.yaml
  charts/nats/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update db-bootstrapper version 1.0.3 (#3013)
  .circleci/config.yml
  charts/astronomer/values.yaml
  charts/grafana/values.yaml
  charts/nats/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

alertmanager external-esproxy
  .circleci/config.yml
  charts/alertmanager/values.yaml
  charts/external-es-proxy/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

curator
  .circleci/config.yml
  charts/elasticsearch/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

kube-state ad grafana
  .circleci/config.yml
  charts/grafana/values.yaml
  charts/kube-state/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

natsexporter
  .circleci/config.yml
  charts/nats/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ap-nats-server
  .circleci/config.yml
  charts/nats/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

nginx
  .circleci/config.yml
  charts/nginx/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

registry
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

git-sync-relay
  .circleci/config.yml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

db-bootstrapper
  .circleci/config.yml
  charts/astronomer/values.yaml
  charts/grafana/values.yaml
  charts/nats/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update functional tests
  tests/functional/unified/test_config.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

precommit
  tests/functional/unified/test_config.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

update test
  tests/functional/unified/test_config.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add skip logic
  tests/functional/unified/test_config.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add skip
  tests/functional/unified/test_config.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

revert nginx and add dag-deploy
  .circleci/config.yml
  charts/nginx/values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

remove test restrictions
  tests/functional/unified/test_config.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Updates images for CVE fixes (#3014)
  .circleci/config.yml
  charts/alertmanager/values.yaml
  charts/astronomer/values.yaml
  charts/elasticsearch/values.yaml
  charts/external-es-proxy/values.yaml
  charts/grafana/values.yaml
  charts/kube-state/values.yaml
  charts/nats/values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

release 0.37.7 rc1
  .circleci/config.yml
  Chart.yaml
  charts/astronomer/Chart.yaml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

release 0.37.7 rc1 (#3015)
  .circleci/config.yml
  Chart.yaml
  charts/astronomer/Chart.yaml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update houston api 1.0.46
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update houston api 1.0.46 (#3016)
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update commander image version 1.0.26
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Remove the kerberos section from houston configmap
  charts/astronomer/templates/houston/houston-configmap.yaml
  tests/chart_tests/test_houston_configmap.py
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add network policy changes
  charts/astronomer/templates/houston/api/houston-networkpolicy.yaml
  charts/astronomer/templates/houston/worker/houston-worker-networkpolicy.yaml
  tests/chart_tests/test_global_network_policy_flag.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Remove unnecessary env from pgbouncer chart
  charts/pgbouncer/templates/_helpers.yaml
  charts/pgbouncer/templates/pgbouncer-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update commander image version 1.0.26 (#3017)
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Mount the secret in deployment as volumeMount
  charts/pgbouncer/templates/pgbouncer-deployment.yaml
  charts/pgbouncer/values.yaml
  tests/chart_tests/test_pgbouncer.py
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Fix pre-commit
  .circleci/config.yml
  tests/chart_tests/test_pgbouncer.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Fix tests
  tests/chart_tests/test_data/default_container_liveness_probes.yaml
  tests/chart_tests/test_data/default_container_readiness_probes.yaml
Due: none

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  check-image-tags: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
