Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

check-image-tags:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Ensure unique tags per image
  entry: python3
  args:
  - bin/show-docker-images.py
  - --private-registry
  - --with-houston
  - -c
  pass_filenames: false

circle-config-yaml:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Checks for consistency between config.yml and config.yml.j2
  entry: bin/generate_circleci_config.py
  pass_filenames: false

vector fixes
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

new commander image
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Use the same nginx volumeMounts and command for cp and dp. Fix tests. (#2801)
  charts/nginx/templates/dataplane/nginx-dp-deployment.yaml
  tests/chart_tests/test_nginx.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

final vector change
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add probes
  charts/vector/templates/vector-daemonset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add es client
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add rbac.enabled
  charts/vector/templates/vector-serviceaccount.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

vector SA fix
  charts/vector/templates/vector-serviceaccount.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

use correct vector SA in clusterrolebinding
  charts/vector/templates/vector-clusterrolebinding.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add serviceAccountName
  charts/vector/templates/_helpers.tpl
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add vector
  tests/chart_tests/test_byo_sa.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit run --all-files
  tests/chart_tests/test_kube_state_deployment.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix vector ds
  charts/vector/templates/vector-daemonset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix vector test
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

remove fluentd test
  tests/chart_tests/test_fluentd.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add vector
  tests/chart_tests/test_non_root_user.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add probes and imagepullsecrets
  charts/vector/templates/vector-daemonset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix probes
  tests/chart_tests/test_probes.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

es vector test
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

vector probe test
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

probe fix
  tests/chart_tests/test_probes.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

update default external es config
  tests/chart_tests/test_data/default-external-es-nginx.conf
Due: none

add aws secret config for vector
  tests/chart_tests/test_data/external-es-nginx-with-aws-secrets.conf
Due: none

add annotations
  charts/vector/templates/vector-daemonset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

test update
  tests/chart_tests/test_external_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add test
  charts/vector/templates/vector-daemonset.yaml
  tests/chart_tests/test_global_network_policy_flag.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

remove fluentd from namespace pool test and add vector test
  tests/chart_tests/test_astronomer_namespace_pools.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

per host ingress defaults
  charts/astronomer/templates/astro-ui/astro-ui-ingress.yaml
  charts/astronomer/templates/ingress.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

vector test fix
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit
  charts/vector/templates/vector-clusterrolebinding.yaml
  charts/vector/templates/vector-serviceaccount.yaml
  tests/chart_tests/test_astronomer_namespace_pools.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

byo sa fix
  tests/chart_tests/test_byo_sa.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix registry ingress
  charts/astronomer/templates/registry/registry-ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

pre-commmit fix
  tests/chart_tests/test_vector.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

correct pull secret
  charts/vector/templates/vector-daemonset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix tests
  charts/astronomer/templates/astro-ui/astro-ui-ingress.yaml
  tests/chart_tests/test_global_ingress_annotation.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix conditionals
  charts/astronomer/templates/astro-ui/astro-ui-ingress.yaml
  charts/astronomer/templates/registry/registry-ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix conditionals on astro-ui
  charts/astronomer/templates/astro-ui/astro-ui-ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add api
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

use auth only for data
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ss change
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  check-image-tags: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
