Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

check-image-tags:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Ensure unique tags per image
  entry: python3
  args:
  - bin/show-docker-images.py
  - --private-registry
  - --with-houston
  - -c
  pass_filenames: false

circle-config-yaml:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Checks for consistency between config.yml and config.yml.j2
  entry: bin/generate_circleci_config.py
  pass_filenames: false

Add some fixes for Prometheus (#2778)
  charts/prometheus/templates/prometheus-config-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ENABLE_CLUSTER_SCRAPING to true
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix ENABLE_CLUSTER_SCRAPING test
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add 0.1.7 kuiper
  .circleci/config.yml
  charts/prometheus/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

correct file_sd_configs
  charts/prometheus/templates/prometheus-config-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add ENV variables needed by Kuiper reloader (#2777)
  .circleci/config.yml
  charts/prometheus/templates/prometheus-config-configmap.yaml
  charts/prometheus/templates/prometheus-statefulset.yaml
  charts/prometheus/values.yaml
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix tests
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

correct COMMANDER_HOUSTON_JWKS_ENDPOINT
  charts/astronomer/templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

test fix
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix kibana url for dp
  charts/kibana/templates/_helpers.tpl
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update reloader env vars for table name definition
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

update tests
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

update reloader env vars for table name definition (#2779)
  charts/prometheus/templates/prometheus-statefulset.yaml
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Monitor helm install while it runs
  bin/helm-install.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Add missing kubeconfig. Improve readability.
  bin/helm-install.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Better logging during helm install
  bin/helm-install.py
  bin/setup-kind.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Show initContainer logs too
  bin/helm-install.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

template fix
  charts/elasticsearch/templates/es-ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add ingress test
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add tests
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Rename volume to have dashes instead of underscores
  charts/alertmanager/templates/alertmanager-statefulset.yaml
  charts/astronomer/templates/registry/registry-statefulset.yaml
  tests/chart_tests/test_alertmanager.py
  tests/chart_tests/test_astronomer_registry.py
  tests/chart_tests/test_registry_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

authfix
  charts/elasticsearch/templates/nginx/nginx-es-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Remove --debug
  bin/helm-install.py
  bin/reset-local-dev
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Print before operation, not after
  bin/show-docker-images.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Remove redundant helm install
  bin/helm-install.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Update tests/chart_tests/test_elasticsearch.py
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

test fix
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Update charts/elasticsearch/templates/es-ingress.yaml
  charts/elasticsearch/templates/es-ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

remove extra end
  charts/elasticsearch/templates/es-ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

test fix with parametrise
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add all modes for test
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Minor pre-commit bump
  .pre-commit-config.yaml
Due: check-image-tags, circle-config-yaml

pre-commit fix
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Print pod status after helm install
  bin/helm-install.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

7413 registry read-only root fs (#2769)
  .pre-commit-config.yaml
  bin/helm-install.py
  bin/setup-kind.py
  bin/show-docker-images.py
  charts/alertmanager/templates/alertmanager-statefulset.yaml
  charts/astronomer/templates/registry/registry-statefulset.yaml
  tests/chart_tests/test_alertmanager.py
  tests/chart_tests/test_astronomer_registry.py
  tests/chart_tests/test_container_read_only_root.py
  tests/chart_tests/test_registry_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Elasticsearch multi plane configuration support (#2774)
  charts/astronomer/templates/_helpers.yaml
  charts/astronomer/templates/houston/houston-configmap.yaml
  charts/elasticsearch/templates/_helpers.tpl
  charts/elasticsearch/templates/client/es-client-deployment.yaml
  charts/elasticsearch/templates/client/es-client-networkpolicy.yaml
  charts/elasticsearch/templates/client/es-client-pod-disruption-budget.yaml
  charts/elasticsearch/templates/client/es-client-service.yaml
  charts/elasticsearch/templates/curator/es-curator-configmap.yaml
  charts/elasticsearch/templates/curator/es-curator-cronjob.yaml
  charts/elasticsearch/templates/data/es-data-networkpolicy.yaml
  charts/elasticsearch/templates/data/es-data-pod-disruption-budget.yaml
  charts/elasticsearch/templates/data/es-data-service.yaml
  charts/elasticsearch/templates/data/es-data-statefulset.yaml
  charts/elasticsearch/templates/es-ingress.yaml
  charts/elasticsearch/templates/exporter/es-exporter-deployment.yaml
  charts/elasticsearch/templates/exporter/es-exporter-networkpolicy.yaml
  charts/elasticsearch/templates/exporter/es-exporter-service.yaml
  charts/elasticsearch/templates/master/es-master-networkpolicy.yaml
  charts/elasticsearch/templates/master/es-master-pod-disruption-budget.yaml
  charts/elasticsearch/templates/master/es-master-service.yaml
  charts/elasticsearch/templates/master/es-master-statefulset.yaml
  charts/elasticsearch/templates/nginx/nginx-es-configmap.yaml
  charts/elasticsearch/templates/nginx/nginx-es-deployment.yaml
  charts/elasticsearch/templates/nginx/nginx-es-networkpolicy.yaml
  charts/elasticsearch/templates/nginx/nginx-es-service.yaml
  charts/external-es-proxy/templates/external-es-proxy-configmap.yaml
  charts/external-es-proxy/templates/external-es-proxy-deployment.yaml
  charts/external-es-proxy/templates/external-es-proxy-env-configmap.yaml
  charts/external-es-proxy/templates/external-es-proxy-networkpolicy.yaml
  charts/external-es-proxy/templates/external-es-proxy-service.yaml
  charts/external-es-proxy/templates/external-es-proxy-serviceaccount.yaml
  charts/kibana/templates/_helpers.tpl
  tests/chart_tests/test_astronomer_commander.py
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix kibana and fluentd config
  charts/fluentd/templates/fluentd-clusterrole.yaml
  charts/fluentd/templates/fluentd-clusterrolebinding.yaml
  charts/fluentd/templates/fluentd-configmap.yaml
  charts/fluentd/templates/fluentd-daemonset.yaml
  charts/fluentd/templates/fluentd-index-template-configmap.yaml
  charts/fluentd/templates/fluentd-networkpolicy.yaml
  charts/fluentd/templates/fluentd-serviceaccount.yaml
  charts/kibana/templates/_helpers.tpl
  charts/kibana/templates/ingress.yaml
  charts/kibana/templates/kibana-auth-sidecar-configmap.yaml
  charts/kibana/templates/kibana-default-index-cronjob.yaml
  charts/kibana/templates/kibana-deployment.yaml
  charts/kibana/templates/kibana-networkpolicy.yaml
  charts/kibana/templates/kibana-pdb.yaml
  charts/kibana/templates/kibana-service.yaml
  charts/kibana/templates/kibana-serviceaccount.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix CI precommit
  charts/fluentd/templates/fluentd-clusterrole.yaml
  charts/fluentd/templates/fluentd-clusterrolebinding.yaml
  charts/fluentd/templates/fluentd-configmap.yaml
  charts/fluentd/templates/fluentd-daemonset.yaml
  charts/fluentd/templates/fluentd-index-template-configmap.yaml
  charts/fluentd/templates/fluentd-networkpolicy.yaml
  charts/fluentd/templates/fluentd-serviceaccount.yaml
  charts/kibana/templates/ingress.yaml
  charts/kibana/templates/kibana-auth-sidecar-configmap.yaml
  charts/kibana/templates/kibana-default-index-cronjob.yaml
  charts/kibana/templates/kibana-deployment.yaml
  charts/kibana/templates/kibana-networkpolicy.yaml
  charts/kibana/templates/kibana-pdb.yaml
  charts/kibana/templates/kibana-service.yaml
  charts/kibana/templates/kibana-serviceaccount.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  check-image-tags: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
