Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

.pre-commit-config.yaml:

---
exclude: '(venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)' # regex
repos:
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: check-image-tags
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Ensure unique tags per image
        entry: python3
        args: ["bin/show-docker-images.py", "--private-registry", "--with-houston", "-c"]
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
      - id: circle-config-yaml
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Checks for consistency between config.yml and config.yml.j2
        entry: bin/generate_circleci_config.py
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-L", "AKS,aks,showIn,NotIn"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.11.7"
    hooks:
      - id: ruff
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          # - "--unsafe-fixes"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: 'charts|templates\/.*\.yaml'
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args: ["--ignore-case", "--unique"]
        files: '^\.(git|helm)ignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "^tests/utils/.*$"
      - id: requirements-txt-fixer
        args: [
            "requirements/chart-tests.in",
            "requirements/chart-tests.txt",
            "requirements/functional-tests.in",
            "requirements/functional-tests.txt",
          ]
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 976b58ba36fcd3313fed6d5a7abc228cec64f994
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
        exclude: 'bin/kind/.*'
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces

remove sysctl probes from values
  charts/elasticsearch/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

remove grafana init values
  charts/grafana/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

remove keys which are not needed
  charts/astronomer/values.yaml
  charts/grafana/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

correcting test values
  tests/chart_tests/test_data/enable_all_probes.yaml
Due: none

correct test value
  tests/chart_tests/test_data/enable_all_probes.yaml
Due: none

Update tests/chart_tests/test_probes.py
  tests/chart_tests/test_probes.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

correcting var name
  tests/chart_tests/test_probes.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Remove Probes from Init Containers (#2731)
  charts/astronomer/templates/houston/api/houston-deployment.yaml
  charts/astronomer/templates/houston/worker/houston-worker-deployment.yaml
  charts/astronomer/values.yaml
  charts/elasticsearch/templates/client/es-client-deployment.yaml
  charts/elasticsearch/templates/data/es-data-statefulset.yaml
  charts/elasticsearch/templates/master/es-master-statefulset.yaml
  charts/elasticsearch/values.yaml
  charts/grafana/templates/grafana-deployment.yaml
  charts/grafana/values.yaml
  charts/stan/templates/statefulset.yaml
  tests/chart_tests/test_data/enable_all_probes.yaml
  tests/chart_tests/test_probes.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add test
  tests/chart_tests/test_registry_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix test
  tests/chart_tests/test_registry_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit fix
  tests/chart_tests/test_registry_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

rc1
  Chart.yaml
  charts/astronomer/Chart.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

config and commander update
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

airflow version update
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

0.37.4-rc1 (#2733)
  .circleci/config.yml
  Chart.yaml
  charts/astronomer/Chart.yaml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Update charts/astronomer/templates/_helpers.yaml
  charts/astronomer/templates/_helpers.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

use next instead of for loop.
  tests/chart_tests/test_registry_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

cp configs
  charts/prometheus/templates/prometheus-config-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add federation
  charts/prometheus/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add external labels
  charts/prometheus/templates/prometheus-config-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

correct values
  charts/prometheus/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

correct cm
  charts/prometheus/templates/prometheus-config-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

correct prom cm test
  tests/chart_tests/test_prometheus_config_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

correct cm test
  tests/chart_tests/test_prometheus_config_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit fix
  tests/chart_tests/test_prometheus_config_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

test_prometheus_config_configmap_external_labels fix
  tests/chart_tests/test_prometheus_config_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add data mode in ingress
  charts/prometheus/templates/ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Do not overwrite global values in test case
  tests/chart_tests/test_global_pod_labels.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Fix some typing
  tests/chart_tests/helm_template_generator.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Add typing. Clean up code. Add comments. Remove superfluous test assertions.
  tests/chart_tests/test_global_pod_labels.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Refactor a bit of test code
  tests/chart_tests/test_global_pod_labels.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Fix global-ca global.podLables
  templates/trust-private-ca-on-all-nodes/containerd-daemonset.yaml
  templates/trust-private-ca-on-all-nodes/daemonset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Improve get_all_features()
  tests/chart_tests/__init__.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Consistent git_root_dir code. Import where available.
  tests/__init__.py
  tests/chart_tests/helm_template_generator.py
  tests/functional_tests/test_versioning.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Fix test bug and simplify assertions
  tests/chart_tests/test_global_pod_labels.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

updates image
  charts/elasticsearch/values.yaml
  charts/kibana/values.yaml
  charts/stan/values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

image
  charts/elasticsearch/values.yaml
  charts/external-es-proxy/values.yaml
  charts/prometheus-blackbox-exporter/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

image updates
  charts/nats/values.yaml
  charts/pgbouncer/values.yaml
  charts/stan/values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml
