Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ensure-rolebinding-without-dash:
  language: pygrep
  name: Ensure we're using 'rolebinding' and not 'role-binding'
  entry: role-binding
  pass_filenames: true

ensure-liveness-not-liveliness:
  language: pygrep
  name: Ensure we're using 'liveness' and not 'liveliness'
  entry: liveliness
  pass_filenames: true

check-image-tags:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Ensure unique tags per image
  entry: python3
  args:
  - bin/show-docker-images.py
  - --private-registry
  - --with-houston
  - -c
  pass_filenames: false

circle-config-yaml:
  language: python
  additional_dependencies:
  - jinja2
  - PyYAML
  name: Checks for consistency between config.yml and config.yml.j2
  entry: bin/generate_circleci_config.py
  pass_filenames: false

Better wording
  tests/chart_tests/test_astronomer_registry.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Fix incorrect merge conflict resolution
  charts/astronomer/templates/registry/registry-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Fix var name
  tests/chart_tests/test_astronomer_registry.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

new ingressclass schema files
  tests/k8s_schema/v1.29.0-standalone/ingressclass-networking-v1.json
  tests/k8s_schema/v1.30.0-standalone/ingressclass-networking-v1.json
  tests/k8s_schema/v1.31.0-standalone/ingressclass-networking-v1.json
  tests/k8s_schema/v1.32.0-standalone/ingressclass-networking-v1.json
Due: none

houston test fix
  tests/chart_tests/test_houston_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

ingress test fix
  tests/chart_tests/test_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

prometheus test fix
  tests/chart_tests/test_prometheus_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

One more test fix
  tests/chart_tests/test_astronomer_registry.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix ingress commander
  tests/chart_tests/test_astronomer_commander_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix test numbers
  tests/chart_tests/test_global_ingress_annotation.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

test fix
  tests/chart_tests/test_astronomer_commander_ingress.py
  tests/chart_tests/test_astronomer_houston_Internal_authorization.py
  tests/chart_tests/test_global_ingress_annotation.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit fix
  tests/chart_tests/test_houston_ingress.py
  tests/chart_tests/test_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

global test fix
  tests/chart_tests/test_global_ingress_annotation.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix test
  tests/chart_tests/test_astronomer_houston_Internal_authorization.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit fix
  tests/chart_tests/test_global_ingress_annotation.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add env vars
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add env test
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add env var
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add test
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

test fix
  tests/chart_tests/test_astronomer_commander_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

test_ingress_with_authorization_defaults fix
  tests/chart_tests/test_astronomer_houston_Internal_authorization.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

test_astronomer_commander_grpc_ingress_default fix
  tests/chart_tests/test_astronomer_commander_ingress.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit fix
  tests/chart_tests/test_astronomer_commander_ingress.py
  tests/chart_tests/test_astronomer_houston_Internal_authorization.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Remove acme
  charts/elasticsearch/templates/es-ingress.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Make initContainer run with registry image, which is a requirement for this implementation.
  charts/astronomer/templates/_helpers.yaml
  charts/astronomer/templates/registry/registry-statefulset.yaml
  tests/chart_tests/test_astronomer_registry.py
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Whitespace cleanup
  charts/astronomer/templates/registry/registry-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add useClusterRoles only for ENABLE_DEPLOYMENT_SCRAPING
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

test fix
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Fix output printing
  bin/helm-install.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Better exception handling
  bin/helm-install.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Improve printing of failing pod logs
  bin/helm-install.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Add alertmanager readOnlyRootFilesystem cert_copier volume.
  charts/alertmanager/templates/alertmanager-statefulset.yaml
  tests/chart_tests/test_alertmanager.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Fix broken tests
  tests/chart_tests/test_alertmanager.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix helm config
  charts/prometheus/templates/prometheus-config-configmap.yaml
  charts/prometheus/templates/prometheus-statefulset.yaml
  charts/prometheus/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix env vars
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add prom fix
  charts/prometheus/templates/prometheus-config-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add kuiper
  .circleci/config.yml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add security context ro filesd-reloader container
  charts/prometheus/templates/prometheus-statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add test for filesd-reloader
  tests/chart_tests/test_prometheus_statefulset.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Path conditions:
  ensure-rolebinding-without-dash: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  ensure-liveness-not-liveliness: any of: not (^.pre-commit-config.yaml$), but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  check-image-tags: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
  circle-config-yaml: any of: (config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$, but not: (venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)
