Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

.pre-commit-config.yaml:

---
exclude: '(venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)' # regex
repos:
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: check-image-tags
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Ensure unique tags per image
        entry: python3
        args: ["bin/show-docker-images.py", "--private-registry", "--with-houston", "-c"]
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
      - id: refuse-authsidecar-files
        language: python
        name: Refuse files that include authsidecar
        entry: bin/refuse-filename-strings.py
      - id: circle-config-yaml
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Checks for consistency between config.yml and config.yml.j2
        entry: bin/generate_circleci_config.py
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-L", "AKS,aks,showIn,NotIn"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.2"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: 'charts|templates\/.*\.yaml'
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.(git|helm)ignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "^tests/utils/.*$"
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
        exclude: 'tests/kind/.*'
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces

add tmp for astro-ui
  charts/astronomer/templates/astro-ui/astro-ui-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add nginx es volume
  charts/elasticsearch/templates/nginx/nginx-es-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add test
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add astro-ui test
  tests/chart_tests/test_astro_ui_deployment.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

precommit
  tests/chart_tests/test_astro_ui_deployment.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Add volumes for astro-ui and nginx-es (#2987)
  charts/astronomer/templates/astro-ui/astro-ui-deployment.yaml
  charts/elasticsearch/templates/nginx/nginx-es-deployment.yaml
  tests/chart_tests/test_astro_ui_deployment.py
  tests/chart_tests/test_elasticsearch.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add Authsidecar Writeable location for Grafana, Prometheus, Alertmanager and Commander (#2985)
  charts/alertmanager/templates/alertmanager-statefulset.yaml
  charts/astronomer/templates/commander/commander-deployment.yaml
  charts/grafana/templates/grafana-deployment.yaml
  charts/prometheus/templates/prometheus-statefulset.yaml
  tests/chart_tests/test_auth-sidecar.py
  tests/chart_tests/test_grafana.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Remove remaining tiller references
  .helmignore
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Adds kerberos section in houston configmap
  charts/astronomer/templates/houston/houston-configmap.yaml
  tests/chart_tests/test_houston_configmap.py
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix volume mounts name
  charts/astronomer/templates/astro-ui/astro-ui-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix tests
  tests/chart_tests/test_astro_ui_deployment.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add new rbac for pods
  charts/astronomer/templates/commander/commander-role.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix unit tests
  tests/chart_tests/test_astro_ui_deployment.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

fix volume mounts name (#2990)
  charts/astronomer/templates/astro-ui/astro-ui-deployment.yaml
  tests/chart_tests/test_astro_ui_deployment.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add new rbac for pods (#2991)
  charts/astronomer/templates/commander/commander-role.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

remove init
  charts/postgresql/templates/statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

wrap init around
  charts/postgresql/templates/statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

remove init assert
  tests/chart_tests/test_postgres.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

remove initcontainers
  charts/postgresql/templates/statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix test
  tests/chart_tests/test_postgres.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add securitycontext to nginx
  charts/nginx/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix dp and cp deployments
  charts/nginx/templates/controlplane/nginx-cp-deployment.yaml
  charts/nginx/templates/dataplane/nginx-dp-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

fix test
  tests/chart_tests/test_nginx.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

remove all bitnami
  charts/postgresql/templates/statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

test fix
  tests/chart_tests/test_postgres.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

remove bitnami from slaves
  charts/postgresql/templates/statefulset-slaves.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add empty
  charts/postgresql/templates/statefulset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add volumemounts
  charts/external-es-proxy/templates/external-es-proxy-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add prometheus federation mounts
  charts/prometheus/templates/prometheus-federation-auth-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Remove remaining tiller references (#2988)
  .helmignore
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

update commander version 1.0.22
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add deployment tests
  tests/chart_tests/test_prometheus_federation_auth_deployment.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

precommit
  tests/chart_tests/test_prometheus_federation_auth_deployment.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add configmaptests
  tests/chart_tests/test_prometheus_federation_auth_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

precommit
  tests/chart_tests/test_prometheus_federation_auth_configmap.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

update commander version 1.0.22 (#2994)
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Code review comments
  charts/astronomer/templates/houston/houston-configmap.yaml
  tests/chart_tests/test_houston_configmap.py
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Use utils.get_env_vars_dict() instead of get_env_value()
  tests/chart_tests/test_astro_ui_deployment.py
  tests/chart_tests/test_astronomer_commander.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Update requirements
  tests/requirements.txt
  uv.lock
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

pre-commit autoupdate
  .pre-commit-config.yaml
Due: check-image-tags, circle-config-yaml
