Repository astronomer/astronomer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

.pre-commit-config.yaml:

---
exclude: '(venv|\.vscode|tests/k8s_schema|tests/chart_tests/test_data)' # regex
repos:
  - repo: local
    hooks:
      - id: ensure-rolebinding-without-dash
        language: pygrep
        name: "Ensure we're using 'rolebinding' and not 'role-binding'"
        entry: "role-binding"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: ensure-liveness-not-liveliness
        language: pygrep
        name: "Ensure we're using 'liveness' and not 'liveliness'"
        entry: "liveliness"
        pass_filenames: true
        exclude: "^.pre-commit-config.yaml$"
      - id: check-image-tags
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Ensure unique tags per image
        entry: python3
        args: ["bin/show-docker-images.py", "--private-registry", "--with-houston", "-c"]
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
      - id: refuse-authsidecar-files
        language: python
        name: Refuse files that include authsidecar
        entry: bin/refuse-filename-strings.py
      - id: circle-config-yaml
        language: python
        additional_dependencies: ["jinja2", "PyYAML"]
        name: Checks for consistency between config.yml and config.yml.j2
        entry: bin/generate_circleci_config.py
        files: '(config.yml|config.yml.j2|generate_circleci_config.py|yaml|tpl)$'
        pass_filenames: false
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["-L", "AKS,aks,showIn,NotIn"]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-tabs
        exclude_types: [makefile, binary]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.13.2"
    hooks:
      - id: ruff-check
        args:
          - "--fix"
          - "--exit-non-zero-on-fix"
          - "--unsafe-fixes"
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: 'charts|templates\/.*\.yaml'
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: file-contents-sorter
        args:
          - "--unique"
        files: '^\.(git|helm)ignore$'
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: name-tests-test
        args: ["--pytest-test-first"]
        exclude: "^tests/utils/.*$"
      - id: requirements-txt-fixer
        args:
          - "tests/requirements.txt"
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/astronomer/pre-commit-hooks
    rev: 37614dad793bbbdea699c63c8b341ce1e2bf855a
    hooks:
      - id: CVE-2017-18342
      - id: remove-unicode-zero-width-non-breaking-spaces
      - id: remove-unicode-zero-width-space
      - id: replace-en-dashes
        exclude: 'tests/kind/.*'
      - id: replace-greek-question-mark
      - id: replace-unicode-non-breaking-spaces

Use pipeline syntax instead of function() syntax
  charts/airflow-operator/templates/_helpers.yaml
  charts/alertmanager/templates/alertmanager-statefulset.yaml
  charts/astronomer/templates/astro-ui/astro-ui-deployment.yaml
  charts/astronomer/templates/commander/commander-deployment.yaml
  charts/astronomer/templates/commander/jwks-hooks/commander-jwks-hooks.yaml
  charts/astronomer/templates/houston/api/houston-deployment.yaml
  charts/astronomer/templates/houston/cronjobs/houston-check-runtime-updates.yaml
  charts/astronomer/templates/houston/cronjobs/houston-check-updates-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-airflow-db-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-cluster-audits-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deploy-revisions-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-deployments-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-cleanup-task-data-cronjob.yaml
  charts/astronomer/templates/houston/cronjobs/houston-populate-daily-task-metrics.yaml
  charts/astronomer/templates/houston/cronjobs/houston-populate-hourly-ta-metrics.yaml
  charts/astronomer/templates/houston/cronjobs/houston-sync-dataplane-clusters-cronjob.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-db-migration-job.yaml
  charts/astronomer/templates/houston/helm-hooks/houston-upgrade-deployments-job.yaml
  charts/astronomer/templates/houston/worker/houston-worker-deployment.yaml
  charts/astronomer/templates/registry/registry-statefulset.yaml
  charts/elasticsearch/templates/exporter/es-exporter-deployment.yaml
  charts/elasticsearch/templates/nginx/nginx-es-deployment.yaml
  charts/external-es-proxy/templates/external-es-proxy-deployment.yaml
  charts/grafana/templates/grafana-deployment.yaml
  charts/kube-state/templates/kube-state-deployment.yaml
  charts/nats/templates/statefulset.yaml
  charts/nginx/templates/controlplane/nginx-cp-deployment.yaml
  charts/nginx/templates/dataplane/nginx-dp-deployment.yaml
  charts/nginx/templates/nginx-deployment-default.yaml
  charts/pgbouncer/templates/pgbouncer-deployment.yaml
  charts/prometheus-postgres-exporter/templates/deployment.yaml
  charts/prometheus/templates/prometheus-federation-auth-deployment.yaml
  charts/prometheus/templates/prometheus-statefulset.yaml
  charts/vector/templates/vector-daemonset.yaml
  templates/trust-private-ca-on-all-nodes/containerd-daemonset.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

More progress on improving RORFS enfocement
  charts/elasticsearch/templates/client/es-client-deployment.yaml
  charts/elasticsearch/templates/data/es-data-statefulset.yaml
  charts/elasticsearch/templates/master/es-master-statefulset.yaml
  charts/nats/templates/jetstream-job.yaml
  charts/prometheus/templates/prometheus-federation-auth-deployment.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Merge the last of the RORFS enforcement changes. Next we need to improve tests.
  charts/astronomer/templates/_helpers.yaml
  charts/astronomer/templates/config-syncer/config-syncer-cronjob.yaml
  charts/elasticsearch/templates/curator/es-curator-cronjob.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Test that all containers with configurable securityContext work as expected with securityContext.readOnlyRootFilesystem=False
  tests/chart_tests/test_read_only_root_filesystem.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Move securityContext override data into a yaml file for better docs reference
  tests/chart_tests/test_data/secrity_context_overrides.yaml
  tests/chart_tests/test_read_only_root_filesystem.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Move to using 'dummy_key' because the securityContext spec is not being checked, so we can make this more obviously test data.
  tests/chart_tests/test_data/secrity_context_overrides.yaml
  tests/chart_tests/test_read_only_root_filesystem.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Update Platform images (#3027)
  .circleci/config.yml
  charts/astronomer/values.yaml
  charts/grafana/values.yaml
  charts/nats/values.yaml
  charts/pgbouncer/values.yaml
  charts/prometheus/values.yaml
  charts/vector/values.yaml
  values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

vector working - needs to be deleted later
  vector-working.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

combined ds- needs to be delted later
  vector-ds3.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add script: bin/graph-vector-config.py
  bin/graph-vector-config.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

vector-ds3 working
  vector-ds3.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add AF3 working
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

remove unwanted files
  vector-ds3.yaml
  vector-working.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

pre-commit
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add cm tests
  tests/chart_tests/test_vector_cm.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

precommit
  tests/chart_tests/test_vector_cm.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add correct input
  tests/chart_tests/test_vector_cm.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

change airflow3 to airflowV3
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add test
  tests/chart_tests/test_vector_cm.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

remove ifelse from extract_release
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

bump commander and airflow chart version
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

correct name
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

correct test
  tests/chart_tests/test_vector_cm.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

Update tests/chart_tests/test_vector_cm.py
  tests/chart_tests/test_vector_cm.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

added script
  scripts/certificate_check/README.md
  scripts/certificate_check/cert_check.sh
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

add enrich_k8s_logs
  charts/vector/templates/vector-configmap.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

add airflow_3_file in test
  tests/chart_tests/test_vector_cm.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness

PINF-46: Vector Daemonset logging for Airflow task logs (#3033)
  bin/graph-vector-config.py
  charts/vector/templates/vector-configmap.yaml
  tests/chart_tests/test_vector_cm.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

bump commander and airflow chart version (#3034)
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Bump ap-astro-ui to 1.0.30 and ap-houston-api to 1.0.50
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

airflow-chart version 1.17.16
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

ap-astro-ui 1.0.30, ap-houston-api 1.0.50 (#3036)
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

airflow-chart version 1.17.16 (#3038)
  .circleci/config.yml
  charts/astronomer/values.yaml
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add tmp volume for rorfs and fix networkpolicy
  charts/pgbouncer/templates/pgbouncer-deployment.yaml
  charts/pgbouncer/templates/pgbouncer-networkpolicy.yaml
  tests/chart_tests/test_pgbouncer.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add pgbouncer in prometheus netpol
  charts/prometheus/templates/prometheus-networkpolicy.yaml
  tests/chart_tests/test_global_network_policy_flag.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Code review comments
  charts/pgbouncer/templates/pgbouncer-deployment.yaml
  charts/pgbouncer/templates/pgbouncer-networkpolicy.yaml
  tests/chart_tests/test_pgbouncer.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

PLX-119: Add tmp volume in pgbouncer deployment and add network policies for pgbouncer (#3039)
  charts/pgbouncer/templates/pgbouncer-deployment.yaml
  charts/pgbouncer/templates/pgbouncer-networkpolicy.yaml
  charts/prometheus/templates/prometheus-networkpolicy.yaml
  tests/chart_tests/test_global_network_policy_flag.py
  tests/chart_tests/test_pgbouncer.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Add pgbouncer in prometheus netpol
  charts/pgbouncer/templates/pgbouncer-deployment.yaml
  charts/pgbouncer/templates/pgbouncer-networkpolicy.yaml
  charts/prometheus/templates/prometheus-networkpolicy.yaml
  tests/chart_tests/test_global_network_policy_flag.py
  tests/chart_tests/test_pgbouncer.py
Due: ensure-rolebinding-without-dash, ensure-liveness-not-liveliness, check-image-tags, circle-config-yaml

Fix precommit
  .pre-commit-config.yaml
Due: check-image-tags, circle-config-yaml
